html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
    box-sizing: border-box;
}

.black-ops-one-regular {
    font-family: "Black Ops One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sixtyfour-letraretro {
    overflow: hidden;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0;
}

.sixtyfour-letraretroTitulo {
    overflow: hidden;
    font-family: "Sixtyfour", sans-serif;
    font-style: normal;
    text-align: center;
    width: 100%;
}

.syncopate-regular {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.syncopate-bold {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(170, 178, 185);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
    width: 80%;
    min-width: 300px;
    box-sizing: border-box;
}

#imagenDecorativa1 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.5);
    cursor: pointer;
    margin-bottom: 20px;
}

.main-content {
    padding: 20px;
    margin-top: 20px;
    max-width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
}

.additional-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    margin-bottom: 80px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    box-sizing: border-box;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease;
}

#contacto {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
}

#footer.expanded {
    width: 300px;
    height: auto;
}

.contact-content {
    opacity: 0;
    visibility: hidden;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transform: translateY(10px);
}

#footer.expanded .contact-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 768px) {
    #footer {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        transform: none;
        border-radius: 0;
    }

    #contacto {
        width: 100%;
        height: auto;
    }

    .contact-content {
        padding: 10px
    }
}